# Prerequisites
*.d
*.i

# Object files
*.o
*.ko
*.obj
*.elf
*.strip
*.pe

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Kernel Images
vmlinu*
*Image

# Initrd Images
initrd

# Disk Images
*.img
*.iso

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# CMake Generated Results
*.cmake
CMakeFiles/
CMakeCache.txt

# Automaticaly Generated Results
*.gen.c
*.gen.h

# Doxygen Generated Results
docs

# Mac OS X Store Files
.DS_Store

# ISO Root Files
isodir/

# Vim temperate files
*~
.*.un~
.*.swp
.*.swo
